<app-navbar></app-navbar>
<section class="our-team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Meet Our Team</h2>
               
            </div>
        </div>
        <hr class="mb-5 mt-4">
        <div class="row">
            <div class="col-lg-1 col-md-6">

            </div>
            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <img src="https://scontent.ftun1-2.fna.fbcdn.net/v/t1.6435-9/149455677_1318850641819182_1066037052641384266_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=IEINZHfvpc4AX_jkBHe&_nc_ht=scontent.ftun1-2.fna&oh=00_AT-5TtLq7u_y33FIHEbpGopEW89Wguz7u7T0zH4SYix2xA&oe=62B54E8F" class="img-fluid" alt="" />
                    <div class="member-info">
                        <div class="member-detail">
                           
                            <span>Mondher Mhamdi</span>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <img src="https://scontent.ftun1-2.fna.fbcdn.net/v/t39.30808-1/260529459_3175602039351067_701773977021743881_n.jpg?stp=dst-jpg_p200x200&_nc_cat=103&ccb=1-7&_nc_sid=7206a8&_nc_ohc=8KFOyLvPoJMAX9o55lP&tn=IwuQr4zw2P-P9iyD&_nc_ht=scontent.ftun1-2.fna&oh=00_AT8xOpYOlYTgNcXvjGSOEdgenCQm8-EuaEjvnBkDrRIwYA&oe=6293B467" class="img-fluid" alt="" />
                    <div class="member-info">
                        <div class="member-detail">
                            
                            <span>Nour EL Houda Jandoubi</span>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                     
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <img src="https://scontent.ftun1-2.fna.fbcdn.net/v/t39.30808-6/243014812_4271803836274486_7878113132299612879_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=nQ11P2_SEFcAX_4bq0l&_nc_ht=scontent.ftun1-2.fna&oh=00_AT9rqgAmQFrG10aVJlg0nJRkDBnYMJHlLw7tQplrwCpHUg&oe=62931722" class="img-fluid" alt="" />
                    <div class="member-info">
                        <div class="member-detail">
                           
                            <span>Dorra Ben Mimoun</span>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                           
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <img src="assets/img/sarra.jpg" class="img-fluid" alt="" />
                    <div class="member-info">
                        <div class="member-detail">
                           
                            <span>Sarra Mzali</span>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                         
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="member">
                    <img src="assets/img/walid.jpg" class="img-fluid" alt="" />
                    <div class="member-info">
                        <div class="member-detail">
                            
                            <span>Walid Ben Abid</span>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-6">

            </div>
        </div>
        <hr class="mt-5">
    </div>
</section>

<app-footer></app-footer>