<!-- 

<div id="demo" class="carousel slide " data-interval="500" data-bs-ride="carousel"  >


    <div class="carousel-indicators c ">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>

    </div>


<div class="carousel-inner" >
        <div class="carousel-item active">
            <img src="https://cdn.pixabay.com/photo/2017/08/07/18/57/dog-2606759_960_720.jpg"  class="d-block" style="width:100%;">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.pixabay.com/photo/2017/09/25/13/14/dog-2785077_960_720.jpg"  class="d-block" style="width:100%">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.pixabay.com/photo/2016/02/18/18/37/puppy-1207816_960_720.jpg"class="d-block" style="width:100%">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.pixabay.com/photo/2015/11/16/22/14/cat-1046544_960_720.jpg" class="d-block" style="width:100%">
        </div>
      
    </div> 
 -->
 <ngb-carousel >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/fond1.jpg" alt="PET4YOU banderolle" width="100%">
    </div>
    <div class="carousel-caption">
      <h3>Trouvez l'animal qui vous convient</h3>
      <p>et qui saura égayer votre quotidien !</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/fond2.jpg" alt="Chiot" width="100%">
    </div>
    <div class="carousel-caption">
      <h3 style="-webkit-text-fill-color: black;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: white;
      font-size:35px
      ">Ils ont besoins de vous...</h3>
      <p>Veillez à bien prendre soin d'eux</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/img/fond3.jpg"  alt="Chatons"  width="100%">
    </div>
    <div class="carousel-caption">
      <h3 style="-webkit-text-fill-color: black;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: white;
      font-size:35px
      ">Aggrandissez la famille</h3>
      <p>en trouvant un partenaire pour votre animal !</p>
    </div>
  </ng-template>
</ngb-carousel>