
<!-- <header class="header">
   <a routerLink="/accueil">Pet4You</a>
   <nav class="navbar">
    <ul>
        <li> <a data-scroll="home" routerLink="/accueil" routerLinkActive="active">Trouver Animal</a> </li>
        <li><a data-scroll="home" routerLink="/accueil" routerLinkActive="active">Annonce</a></li>
        <li><a data-scroll="home" routerLink="/accueil" routerLinkActive="active">MonCompte</a></li>
    </ul>
   </nav>
</header> -->

<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Pet4U</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Annonce <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MonCompte</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Trouver Animal 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Adopter</a>
            <a class="dropdown-item" href="#">Accouplement</a>
          </div>
          
        </li>
      </ul>
    </div>
  </nav> -->
  <!-- Topbar Start -->
  <div class="container-fluid">
    <div class="row py-3 px-lg-5">
      
       
    </div>
</div>
<!-- Topbar End -->

  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
        
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-2" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
              <!-- <div class="col-lg-4 ">
                <a href="" class="navbar-brand d-none d-lg-block">
                    <h1 class="m-0 display-5 text-capitalize" ><span class="text-primary">Pet</span>4You</h1>
                </a>
            </div> -->
              <div>
              <!-- position-absolute top-0 end-0 !important -->
                <h1 class="m-0 display-5 text-capitalize " ><span class="text-primary">Pet</span><span style="color: white;">4You</span></h1>
              </div>
              
                <a href="" class="nav-item nav-link">Annonce</a>
                <div class="nav-item dropdown ">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">  Trouver Animal </a>
                    <div class="dropdown-menu rounded-0 m-0 ">
                        <a href="" class="dropdown-item">Adoption</a>
                        <a href="" class="dropdown-item">Accouplement</a>
                    </div>
                </div>
                <a href="" class="nav-item nav-link active  position-absolute top-0 end-0 !important"> <i class="fa-solid fa-right-to-bracket"></i> login</a>
                
                </div>
            <!-- <a href="" class="btn btn-lg btn-primary px-3 d-none d-lg-block">Get Quote</a> -->
        </div>
    </nav>
</div>