#droite{
    position: absolute;
    top: 0px;
    right: 100px;
}
#droite2{
    position: absolute;
    top: 0px;
    right: 600px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}