


<app-navbar></app-navbar>

<a href="/ajouter">ajouter</a>

<div class="container">
 <div class="row">
     <div class="col-xs-12 col-sm-6 col-lg-6" *ngFor="let a of annoncedata">
        <div class="card" style="width: 18rem;">
            <img [src]="a.image" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{a.titre}}</h5>
              <p class="card-text">{{a.categorie}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
     </div>
 </div>
</div>

<!--Salut c'est Mondher