::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}


.im{
    max-width: 250px;
     height: 180px; 
     object-fit: cover;
      border-radius: 8px;
}

.crd{
    transition: all 0.7s; 
   
   
}
.crd:hover{
    transform: scale(1.06) ;
    cursor: pointer;
}

.more:hover{
  cursor: pointer; 
}




